html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  font-weight: 700;
  border: 1px solid transparent;
  margin: 0;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  border: 1px solid #1dbf73;
}

.btn:hover {
  cursor: pointer;
}

.btn-light {
  background-color: #1dbf73;
  color: #fff;
  padding: 15px 35px;
  font-size: 16px;
  margin: 15px 8px 0;
}

.btn-light:hover {
  color: #fff;
  background-color: #3fca89;
}

.btn--contained {
  background-color: #1dbf73;
  color: #fff;
}

.btn--contained:hover {
  background-color: #19a463;
  color: #fff;
}

.btn--light {
  color: #1dbf73;
}

.btn--light:hover {
  color: #fff;
  background-color: #1dbf73;
}

.noscroll {
  overflow: hidden;
}

.popup-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 0;
  visibility: hidden;
}

.popup-video .popup-video__overlay {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-video .popup-video__video {
  width: 70vw;
  max-width: 900px;
  margin: auto;
  z-index: 2;
}

.header-top {
  color: #404145;
  padding: 25px 32px;
  border-bottom: 1px solid #e4e5e7;
}

@media only screen and (max-width: 800px) {
  .header-top {
    border: none;
  }
}

@media only screen and (max-width: 576px) {
  .header-top {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-top .header__search-plus {
  position: relative;
  padding: 24px 17px 10px 17px;
  width: 100%;
  display: none;
}

@media only screen and (max-width: 800px) {
  .header-top .header__search-plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-top .header__search-plus i {
  position: absolute;
  top: 61%;
  left: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  opacity: 0.6;
}

.header-top .header__search-plus input {
  height: 34px;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3px;
  padding: 7px 7px 7px 28px;
  outline: none;
  border: 1px solid #e4e5e7;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header-top .header__search-plus input:hover {
  border-color: #7a7d84;
}

.header-top .header__search-plus input:focus {
  border-color: #7a7d84;
}

@media only screen and (max-width: 1284px) {
  .header-top .header__search-plus input {
    width: 100%;
  }
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .header-top__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-top__container .header__toggle-menu {
  display: none;
  margin: 0 15px;
  cursor: pointer;
}

.header-top__container .header__toggle-menu i {
  font-size: 2.2rem;
  line-height: 2rem;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__toggle-menu {
    display: block;
  }
}

.header-top__container .header__logo {
  min-width: 120px;
}

.header-top__container .header__logo a {
  font-size: 3.4rem;
  line-height: 3rem;
  color: inherit;
  font-weight: 700;
}

.header-top__container .header__logo a span {
  color: #1dbf73;
  font-size: 4.5rem;
}

.header-top__container .header__search-input {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__search-input {
    width: 25%;
  }
}

@media only screen and (max-width: 1068px) {
  .header-top__container .header__search-input {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .header-top__container .header__search-input {
    display: none;
  }
}

.header-top__container .header__search-input i {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  opacity: 0.6;
}

.header-top__container .header__search-input input {
  height: 34px;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3px;
  padding: 7px 7px 7px 28px;
  outline: none;
  border: 1px solid #e4e5e7;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header-top__container .header__search-input input:hover {
  border-color: #7a7d84;
}

.header-top__container .header__search-input input:focus {
  border-color: #7a7d84;
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__search-input input {
    width: 100%;
  }
}

.header-top__container .header__search-input button {
  height: 34px;
  padding: 0 16px;
  border-radius: 0 4px 4px 0;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  font-size: 1.4rem;
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__search-input button {
    display: none;
  }
}

.header-top__container .header__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: #616469;
  font-weight: 500;
}

.header-top__container .header__options--active {
  color: #02c2a9;
}

@media only screen and (max-width: 800px) {
  .header-top__container .header__options {
    margin-left: unset;
  }
}

.header-top__container .header__options .header__options--link {
  margin: 0 10px;
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__options .header__options--link {
    display: none;
  }
  .header-top__container .header__options .header__options--link:last-child, .header-top__container .header__options .header__options--link:nth-last-child(2), .header-top__container .header__options .header__options--link:nth-last-child(3) {
    display: block;
  }
}

@media only screen and (max-width: 960px) {
  .header-top__container .header__options .header__options--link:nth-last-child(3) {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header-top__container .header__options .header__options--link:nth-last-child(2), .header-top__container .header__options .header__options--link:nth-last-child(3) {
    display: none;
  }
}

.header-top__container .header__options .header__options--link a {
  color: inherit;
  font-size: 1.6rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header-top__container .header__options .header__options--link a:hover {
  color: #1dbf73;
}

.header-top__container .header__options .header__options--link a.btn--light {
  color: #1dbf73;
  font-weight: 500;
  padding: 2px 20px;
}

.header-top__container .header__options .header__options--link a.btn--light:hover {
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .header-top__container .header__options .header__options--link a.btn--light {
    color: #7a7d85;
    border: none;
    padding: 0;
    font-size: 2rem;
  }
}

.header-top__container .header__options .header__options--explore {
  margin: 0 10px;
  position: relative;
  font-weight: 500;
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__options .header__options--explore {
    display: none;
  }
}

.header-top__container .header__options .header__options--explore span {
  font-size: 1.6rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.header-top__container .header__options .header__options--explore ul {
  position: absolute;
  z-index: 10;
  bottom: -25px;
  left: 50%;
  padding: 16px 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  display: none;
  border-radius: 5px;
  border: 1px solid #c2c2c5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  background-color: #fff;
}

.header-top__container .header__options .header__options--explore ul li {
  width: 50%;
  padding: 6px 12px 0 24px;
  cursor: pointer;
}

.header-top__container .header__options .header__options--explore ul li h6 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.header-top__container .header__options .header__options--explore ul li p {
  font-size: 1.4rem;
  color: #c2c2c5;
  font-weight: 300;
  margin-bottom: 16px;
  line-height: 1.5rem;
}

.header-top__container .header__options .header__options--explore ul li:hover h6,
.header-top__container .header__options .header__options--explore ul li:hover p {
  color: #1dbf73;
}

.header-top__container .header__options .header__options--explore:hover span {
  color: #1dbf73;
}

.header-top__container .header__options .header__options--explore:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__container .header__options .header__options--explore:hover::after {
  display: block;
}

.header-top__container .header__options .header__options--explore::before {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.header-top__container .header__options .header__options--explore::after {
  content: "";
  z-index: 999;
  position: absolute;
  bottom: -38px;
  left: 35%;
  width: 25px;
  height: 25px;
  border-width: 1px 0 0 1px;
  border-color: #c2c2c5;
  border-style: solid;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: none;
}

.header-top__container .header__options .header__options--languages {
  margin: 0 10px;
  position: relative;
  font-weight: 400;
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__options .header__options--languages {
    display: none;
  }
}

.header-top__container .header__options .header__options--languages span {
  font-size: 1.6rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
  font-weight: 500;
}

.header-top__container .header__options .header__options--languages ul {
  position: absolute;
  z-index: 10;
  bottom: -5px;
  right: 0;
  padding: 16px 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: none;
  border-radius: 5px;
  border: 1px solid #c2c2c5;
  width: 220px;
  background-color: #fff;
}

.header-top__container .header__options .header__options--languages ul li {
  width: 100%;
  padding: 12px 0 12px 48px;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
}

.header-top__container .header__options .header__options--languages ul li:hover {
  background-color: #f5f5f5;
}

.header-top__container .header__options .header__options--languages ul li.active::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.7rem;
  font-size: 1.4rem;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-top__container .header__options .header__options--languages:hover span {
  color: #1dbf73;
}

.header-top__container .header__options .header__options--languages:hover ul {
  display: block;
}

.header-top__container .header__options .header__options--languages::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.header-top__container .header__options .header__options--cash {
  margin: 0 10px;
  position: relative;
  font-weight: 500;
}

@media only screen and (max-width: 1284px) {
  .header-top__container .header__options .header__options--cash {
    display: none;
  }
}

.header-top__container .header__options .header__options--cash span {
  font-size: 1.6rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.header-top__container .header__options .header__options--cash ul {
  position: absolute;
  z-index: 10;
  bottom: -5px;
  right: 0;
  padding: 16px 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  border-radius: 5px;
  border: 1px solid #c2c2c5;
  width: 300px;
  height: 350px;
  overflow-y: scroll;
  background-color: #fff;
  display: none;
}

.header-top__container .header__options .header__options--cash ul li {
  width: 100%;
  padding: 8px 0 8px 48px;
  position: relative;
  cursor: pointer;
}

.header-top__container .header__options .header__options--cash ul li:hover {
  background-color: #f5f5f5;
}

.header-top__container .header__options .header__options--cash ul li h6 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.header-top__container .header__options .header__options--cash ul li p {
  font-size: 1.6rem;
  color: #c2c2c5;
  font-weight: 300;
}

.header-top__container .header__options .header__options--cash ul li.active::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-top__container .header__options .header__options--cash:hover span {
  color: #1dbf73;
}

.header-top__container .header__options .header__options--cash:hover ul {
  display: block;
}

.header-top__container .header__options .header__options--cash::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.menu-phone {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  z-index: 999;
}

.menu-phone .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 998;
}

.menu-phone__main {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 999;
  font-size: 1.6rem;
  font-weight: 300;
  color: #95979d;
}

.menu-phone__main .btn {
  padding: 8px 24px;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.menu-phone__main a {
  display: block;
  color: inherit;
  margin-bottom: 20px;
}

.menu-phone__main a.green-color {
  color: #1dbf73;
  font-weight: 400;
}

.menu-phone__main .menu-phone__item {
  cursor: pointer;
}

.menu-phone__main .menu-phone__item h6 {
  margin-bottom: 20px;
}

.menu-phone__main .menu-phone__item ul {
  padding-left: 20px;
  height: 0;
  overflow: hidden;
}

.menu-phone__main .menu-phone__item ul li {
  margin-bottom: 20px;
}

.menu-phone__main .menu-phone__item.arrow {
  position: relative;
}

.menu-phone__main .menu-phone__item.arrow::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: -2px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.menu-phone__main .menu-phone__item.arrow.open::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-phone__main h5 {
  font-size: 1.4rem;
  padding: 30px 0 10px;
  border-bottom: 1px solid #e4e5e7;
  color: #404145;
  font-weight: 400;
  margin-bottom: 10px;
}

.banner {
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.banner .banner__number-mobile {
  background-color: #fff;
  color: #62646a;
}

.banner .banner__number-mobile .banner__number--all {
  width: 100%;
  padding: 25px 0;
  display: none;
}

@media only screen and (max-width: 960px) {
  .banner .banner__number-mobile .banner__number--all {
    display: block;
  }
}

.banner .banner__number-mobile .banner__number--all .banner__items {
  text-align: center;
}

.banner .banner__number-mobile .banner__number--all .banner__items .banner__item--mobile {
  padding: 12px 0 13px;
}

.banner .banner__number-mobile .banner__number--all .banner__items .banner__item--mobile p {
  font-size: 16px;
  line-height: 30px;
}

.banner .banner__number-mobile .banner__number--all .banner__items .banner__item--mobile strong {
  font: 400 36px macan,helvetica neue,Helvetica,Arial,sans-serif;
}

.banner__content {
  height: 580px;
  position: relative;
}

.banner__content img.banner__image {
  width: 100%;
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
  height: 580px;
  display: none;
}

@media only screen and (max-width: 960px) {
  .banner__content img.banner__image {
    display: block;
  }
}

.banner__content video.banner-video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 580px;
}

@media only screen and (max-width: 960px) {
  .banner__content video.banner-video {
    display: none;
  }
}

.banner__content .banner-info {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 960px) {
  .banner__content .banner-info {
    padding: 0 40px;
  }
}

.banner__content .banner-info h1 {
  font-size: 50px;
  line-height: 110%;
  font-weight: 700;
  max-width: 750px;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  .banner__content .banner-info h1 {
    font-size: 23px;
  }
}

.banner__content .banner-info p {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  max-width: 750px;
  margin: 5px auto 15px;
}

@media only screen and (max-width: 960px) {
  .banner__content .banner-info p {
    font-size: 16px;
    font-weight: 400;
  }
}

.banner__content .banner-info a {
  margin: 15px 8px 0;
}

@media only screen and (max-width: 960px) {
  .banner__content .banner-info a {
    width: 100%;
    padding: 10px 20px;
    margin: 15px 0;
  }
}

.banner__content .banner__number {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 25px 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: 0;
}

@media only screen and (max-width: 960px) {
  .banner__content .banner__number {
    display: none;
  }
}

.banner__content .banner__number--all {
  margin: 0 auto;
  position: relative;
}

.banner__content .banner__number--all .banner__items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__content .banner__number--all .banner__items p {
  font-size: 22px;
  line-height: 30px;
}

.banner__content .banner__number--all .banner__items strong {
  font: 400 45px macan,helvetica neue,Helvetica,Arial,sans-serif;
}

.our-freelance {
  overflow: hidden;
}

.our-freelance__main {
  margin: 0 22px 20px 22px;
}

@media only screen and (max-width: 960px) {
  .our-freelance__main {
    display: none;
  }
}

.our-freelance__main h2 {
  padding: 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.our-freelance__main .freelance-people {
  margin: 0 50px;
}

.our-freelance__main .freelance-people .my-skill {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 23%;
  margin: 0 2% 2% 0;
  position: relative;
  cursor: pointer;
  background-color: #eee;
}

.our-freelance__main .freelance-people .my-skill--content {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.our-freelance__main .freelance-people .my-skill i {
  background-size: 350px;
  display: block;
  color: #e64f4f;
  font-size: 29px;
}

.our-freelance__main .freelance-people .my-skill h3 {
  font-size: 32px;
  line-height: 34px;
  font-weight: 400;
  color: #555;
}

.our-freelance__main .freelance-people .my-skill .btn-myskill {
  padding: 15px 35px;
}

@media only screen and (max-width: 1068px) {
  .our-freelance__main .freelance-people .my-skill .btn-myskill {
    padding: 10px 25px;
  }
}

.our-freelance__main .freelance-people h6 {
  font-size: 24px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.our-freelance__main .freelance-people__person {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 23%;
  margin: 0 2% 2% 0;
  position: relative;
  cursor: pointer;
  height: 305px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.our-freelance__main .freelance-people__person:hover::before {
  opacity: 0 !important;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.our-freelance__main .freelance-people__person::before {
  content: '';
  background: #1f1f1f;
  opacity: .1;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.our-freelance__main .freelance-people .designer {
  background-image: url("../../images/selling/designer.jpg");
  background-size: 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .designer:hover {
  background-size: 105%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .developer {
  background-image: url("../../images/selling/developer.jpg");
  background-size: 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .developer:hover {
  background-size: 105%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .writer {
  background-image: url("../../images/selling/writer.jpg");
  background-position: 50% 50%;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}

.our-freelance__main .freelance-people .writer:hover {
  background-position: 45% 0;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}

.our-freelance__main .freelance-people .editor {
  background-image: url("../../images/selling/video.jpg");
  background-size: 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .editor:hover {
  background-size: 105%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .musician {
  background-image: url("../../images/selling/musician.jpg");
  background-size: 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .musician:hover {
  background-size: 105%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .artist {
  background-image: url("../../images/selling/voiceover.jpg");
  background-size: 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .artist:hover {
  background-size: 105%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.our-freelance__main .freelance-people .media {
  background-image: url("../../images/selling/analyst.jpg");
  background-position: 50% 50%;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}

.our-freelance__main .freelance-people .media:hover {
  background-position: 45% 0;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}

.our-freelance__mobile {
  display: none;
}

@media only screen and (max-width: 960px) {
  .our-freelance__mobile {
    display: block;
  }
}

.our-freelance__mobile .slick-dots li button {
  font-size: 0;
  line-height: 0;
  width: 17px;
  height: 17px;
  cursor: pointer;
  color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  outline: none;
  background: none;
}

.our-freelance__mobile .slick-dots li button:before {
  color: transparent;
}

.our-freelance__mobile .slick-dots {
  bottom: 10px;
}

.our-freelance__mobile .slick-dots li button:before {
  font-size: 20px;
}

.our-freelance__mobile .slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

.our-freelance__mobile--content .freelance-people__person {
  position: relative;
  height: 235px;
  background-size: cover;
  background-position: center center;
}

.our-freelance__mobile--content .freelance-people__person h6 {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.our-freelance__mobile--content .freelance-people__person .btn-more {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 20;
  right: 15px;
  top: 15px;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
}

.our-freelance__mobile--content .designer {
  background-image: url("../../images/selling/designer.jpg");
}

.our-freelance__mobile--content .developer {
  background-image: url("../../images/selling/developer.jpg");
}

.our-freelance__mobile--content .writer {
  background-image: url("../../images/selling/writer.jpg");
}

.our-freelance__mobile--content .editor {
  background-image: url("../../images/selling/video.jpg");
}

.our-freelance__mobile--content .musician {
  background-image: url("../../images/selling/musician.jpg");
}

.our-freelance__mobile--content .artist {
  background-image: url("../../images/selling/voiceover.jpg");
}

.our-freelance__mobile--content .media {
  background-image: url("../../images/selling/analyst.jpg");
}

.works {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f7f7f7;
  padding-left: 80px;
  padding-right: 80px;
}

.works .work__all h2 {
  color: #222325;
  padding-bottom: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.works .work__all .work__content {
  text-align: center;
}

.works .work__all .work__content h3 {
  color: #555;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 10px;
}

.works .work__all .work__content p {
  font-size: 16px;
  line-height: 24px;
  font: 400 16px/24px "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #62646a;
}

.works .work__all .work__content .work__item {
  padding-top: 20px;
}

.works .work__all .work__content .create-gig::before {
  background: transparent url(../../images/selling/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg) no-repeat 0 0;
  content: "";
  background-position: -200px 0;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 350px;
  margin: 0 auto 15px;
}

.works .work__all .work__content .deliver::before {
  background: transparent url(../../images/selling/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg) no-repeat 0 0;
  content: "";
  background-position: -294px 0;
  display: block;
  width: 64px;
  height: 50px;
  background-size: 419px;
  margin: 0 auto 15px;
}

.works .work__all .work__content .get-paid::before {
  background: transparent url(../../images/selling/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg) no-repeat 0 0;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-size: 350px;
  margin: 0 auto 15px;
}

.learn {
  overflow: hidden;
  padding: 48px 100px 20px;
  background-color: #fff;
}

@media only screen and (max-width: 1068px) {
  .learn {
    padding: 8px 10px 2px;
  }
}

.learn__all {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.learn__all-info {
  padding: 24px 0 4px 64px;
}

@media only screen and (max-width: 1068px) {
  .learn__all-info {
    padding: 24px 20px 0;
  }
}

.learn__all-info .learn-logo {
  padding: 0 0 20px;
}

.learn__all-info h2 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 600;
  color: #404145;
}

.learn__all-info p {
  font-size: 18px;
  line-height: 26px;
  padding: 12px 0 25px;
  color: #7a7d85;
}

.learn__all-info a {
  padding: 11px 37px;
}

@media only screen and (max-width: 1068px) {
  .learn__all-info a {
    width: 100%;
    margin: 0;
  }
}

.learn__all .benefit__thumnail-video {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 0 64px;
}

@media only screen and (max-width: 1068px) {
  .learn__all .benefit__thumnail-video {
    padding: 24px 20px;
  }
}

.learn__all .benefit__thumnail-video img {
  width: 100%;
  border-radius: 5px;
}

.learn__all .benefit__thumnail-video::after {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  color: #fff;
  font-size: 3rem;
  background-color: #00000070;
  border-radius: 50%;
}

.learn__all .benefit__thumnail-video .video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  font-size: 18px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 24.3px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  z-index: 3;
  bottom: 10%;
}

@media only screen and (max-width: 1068px) {
  .learn__all .benefit__thumnail-video .video__info h3 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 800px) {
  .learn__all .benefit__thumnail-video .video__info h3 {
    font-size: 23px;
  }
}

@media only screen and (max-width: 480px) {
  .learn__all .benefit__thumnail-video .video__info h3 {
    font-size: 18px;
  }
}

.learn__all .benefit__thumnail-video .video__info span {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 29px;
  margin-left: 10px;
  padding: 2px 8px;
  background-color: #1dbf73;
}

@media only screen and (max-width: 1068px) {
  .learn__all .benefit__thumnail-video .video__info span {
    display: none;
  }
}

.learn__all .benefit__thumnail-video .video__caption span {
  position: absolute;
  font-size: 14px;
  padding: 2px 8px;
  z-index: 9;
  color: #fff;
  top: 10%;
  right: 5%;
  display: none;
  background-color: #1dbf73;
}

@media only screen and (max-width: 1068px) {
  .learn__all .benefit__thumnail-video .video__caption span {
    display: block;
    padding: 5px 14px;
  }
}

@media only screen and (max-width: 480px) {
  .learn__all .benefit__thumnail-video .video__caption span {
    display: block;
    top: 16%;
    right: 10%;
  }
}

.learn__all .benefit__thumnail-video .video__rating {
  position: absolute;
  bottom: 3%;
  padding-left: 5px;
}

@media only screen and (max-width: 1068px) {
  .learn__all .benefit__thumnail-video .video__rating {
    display: none;
  }
}

.learn__all .benefit__thumnail-video .video__rating i {
  color: #ffc100;
  font-size: 13px;
}

.learn__all .benefit__thumnail-video .video__rating span:nth-last-child(2) {
  color: #ffc100;
  font-size: 14px;
}

.learn__all .benefit__thumnail-video .video__rating span:nth-last-child(1) {
  color: #fff;
  font-size: 12px;
}

.stories {
  overflow: hidden;
  padding: 30px 100px 60px;
  background-color: #fff;
}

@media only screen and (max-width: 992px) {
  .stories {
    background-color: #f7f7f7;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .stories {
    padding: 0;
  }
}

.stories__top h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .stories__top h2 {
    display: none;
  }
}

.stories__buyer {
  padding: 0;
  overflow: hidden;
}

.stories__buyer .row .buyer__content {
  padding: 0;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer__content {
    padding: 0 25px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}

.stories__buyer .row .buyer__content blockquote {
  font: italic 18px/140% Georgia,'Times New Roman',serif;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 2;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #62646a;
}

.stories__buyer .row .buyer__content blockquote cite {
  font: normal 14px/140% "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
  display: block;
  padding-top: 25px;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer__content blockquote {
    position: relative;
  }
}

.stories__buyer .row .buyer_images {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  height: 289px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: top center;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer_images {
    background-size: 100%;
  }
}

.stories__buyer .row .buyer_images::before {
  content: '';
  display: inline-block;
  border-top: 19px transparent solid;
  border-bottom: 19px transparent solid;
  position: absolute;
  z-index: 2;
  left: 100%;
  top: 50%;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer_images::before {
    display: none;
  }
}

.stories__buyer .row .buyer_images::after {
  content: '';
  border-left: 15px transparent solid;
  border-right: 15px transparent solid;
  border-bottom: 19px #f7f7f7 solid;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 94%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer_images::after {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer3_content {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer4_content {
    display: none;
  }
}

.stories__buyer .row .buyer1 {
  background-image: url("../../images/selling/buyer1.jpg");
}

.stories__buyer .row .buyer1::before {
  border-right: 25px #f7f7f7 solid;
  -webkit-transform: translate3d(-24px, -50%, 0);
          transform: translate3d(-24px, -50%, 0);
}

.stories__buyer .row .buyer2 {
  background-image: url("../../images/selling/buyer2.jpg");
}

.stories__buyer .row .buyer2::before {
  border-right: 25px #f7f7f7 solid;
  -webkit-transform: translate3d(-24px, -50%, 0);
          transform: translate3d(-24px, -50%, 0);
}

.stories__buyer .row .buyer3 {
  background-image: url("../../images/selling/buyer3.jpg");
}

.stories__buyer .row .buyer3::before {
  border-left: 25px #f7f7f7 solid;
  -webkit-transform: translate3d(-1px, -50%, 0);
          transform: translate3d(-1px, -50%, 0);
  left: 0;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer3 {
    display: none;
  }
}

.stories__buyer .row .buyer4 {
  background-image: url("../../images/selling/buyer4.jpg");
}

.stories__buyer .row .buyer4::before {
  border-left: 25px #f7f7f7 solid;
  -webkit-transform: translate3d(-1px, -50%, 0);
          transform: translate3d(-1px, -50%, 0);
  left: 0;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer4 {
    display: none;
  }
}

.stories__buyer .row .buyer3_mobile {
  background-image: url("../../images/selling/buyer3.jpg");
}

.stories__buyer .row .buyer4_mobile {
  background-image: url("../../images/selling/buyer4.jpg");
}

.stories__buyer .row .buyer__mobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .stories__buyer .row .buyer__mobile {
    display: block;
  }
}

.qanda {
  background-color: #f7f7f7;
  margin: 0 auto;
}

.qanda__all {
  padding: 40px 100px;
}

@media only screen and (max-width: 992px) {
  .qanda__all {
    padding: 30px 15px 20px 15px;
    background-color: #fff;
  }
}

.qanda__all .qanda__header h2 {
  padding-bottom: 30px;
  color: #222325;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.qanda__all .qanda__items {
  margin-right: 0px;
  margin-left: 0px;
}

.qanda__all .qanda__items .qanda__item {
  width: 49%;
  margin-right: 1%;
  cursor: pointer;
  background-color: #fff;
  border-left: 5px transparent solid;
  -webkit-transition: border-color,.3s;
  transition: border-color,.3s;
  border-radius: 3px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1068px) {
  .qanda__all .qanda__items .qanda__item {
    width: 100%;
  }
}

.qanda__all .qanda__items .qanda__item:hover {
  border-color: #1dbf73;
}

.qanda__all .qanda__items .qanda__item h6 {
  padding: 20px 15px;
  cursor: pointer;
  color: #0e0e0f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.qanda__all .qanda__items .qanda__item ul {
  height: 0;
  overflow: hidden;
}

.qanda__all .qanda__items .qanda__item ul li {
  margin-bottom: 20px;
  padding: 0px 20px 0px 15px;
  font-size: 14px;
  max-height: inherit;
  line-height: 20px;
  word-spacing: 1px;
}

.qanda__all .qanda__items .qanda__item.arrow {
  position: relative;
}

.qanda__all .qanda__items .qanda__item.arrow::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 4%;
  top: 27px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.qanda__all .qanda__items .qanda__item.arrow.open::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.footer {
  overflow: hidden;
}

.footer__top {
  padding: 50px 15px;
  text-align: center;
}

@media only screen and (max-width: 1068px) {
  .footer__top {
    padding: 20px 15px;
  }
}

.footer__top h3 {
  font: 400 17px/24px "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #62646a;
}

@media only screen and (max-width: 576px) {
  .footer__top h3 {
    font-size: 15px;
  }
}

.footer__top a {
  padding: 10px 37px;
}

.footer__bottom {
  padding: 25px 32px;
  border-top: 1px solid #e4e5e7;
}

@media only screen and (max-width: 1068px) {
  .footer__bottom {
    padding-top: 0;
    padding-bottom: 16px;
  }
}

.footer__bottom .bottom__all {
  padding-top: 0;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 660px) {
  .footer__bottom .bottom__all {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__bottom .bottom__all .left {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media only screen and (max-width: 660px) {
  .footer__bottom .bottom__all .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__bottom .bottom__all .left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  word-spacing: 1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 660px) {
  .footer__bottom .bottom__all .left p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__bottom .bottom__all .left p .term {
  margin-top: 0;
  margin-left: 24px;
  color: #83868d;
}

.footer__bottom .bottom__all .left p .term a {
  color: #7a7d85;
  white-space: nowrap;
}

.footer__bottom .bottom__all .left p .term a:hover {
  text-decoration: underline;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer__bottom .bottom__all .left p .copyright {
  white-space: nowrap;
  margin-left: 24px;
  color: #b5b6ba;
}

.footer__bottom .bottom__all .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 660px) {
  .footer__bottom .bottom__all .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__bottom .bottom__all .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 22px;
}

@media only screen and (max-width: 660px) {
  .footer__bottom .bottom__all .right ul {
    padding-right: 0px;
    padding-left: 22px;
  }
}

.footer__bottom .bottom__all .right ul li {
  margin-right: 24px;
}

.footer__bottom .bottom__all .right ul li a:hover {
  padding: 8px;
  margin: -8px;
  background-color: #efeff0;
  border-radius: 50%;
}

.footer__bottom .bottom__all .right ul li a i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 1px;
  color: #7a7d85;
  padding: 2px;
}

.footer__bottom .bottom__all .right .right__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom .bottom__all .right .right__options .option-money .modal .modal-dialog .modal-content .modal-body {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.footer__bottom .bottom__all .right .right__options button {
  font-size: 14px;
  line-height: 21px;
  word-spacing: 1px;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #83868d;
  font-weight: 500;
  padding: 8px 12px;
}

@media only screen and (max-width: 660px) {
  .footer__bottom .bottom__all .right .right__options button {
    margin-right: 0;
  }
}

.footer__bottom .bottom__all .right .right__options button:focus {
  outline: none;
}

.footer__bottom .bottom__all .right .right__options button:hover {
  color: #404145;
  background-color: #f5f5f5;
  border-radius: 54px;
}

.footer__bottom .bottom__all .right .right__options button:hover span {
  color: #404145;
}

.footer__bottom .bottom__all .right .right__options button span {
  color: #83868d;
}

.footer__bottom .bottom__all .right .right__options .btn-languages i {
  padding-right: 7px;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-header {
  padding: 32px 32px 24px;
  border-bottom: none;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-header h5 {
  font-weight: 600;
  color: #404145;
  font-size: 20px;
  line-height: 22px;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-header button {
  font-size: 20px;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-body .options--languages, .footer__bottom .bottom__all .right .right__options .modal-content .modal-body .options--money {
  padding: 12px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-body .options--languages:hover, .footer__bottom .bottom__all .right .right__options .modal-content .modal-body .options--money:hover {
  background: #f7f7f7;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-body .options--languages span, .footer__bottom .bottom__all .right .right__options .modal-content .modal-body .options--money span {
  margin-left: 22px;
  font-size: 16px;
  color: #62646a;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-body .options--money .title__title {
  font-weight: 700;
  color: #404145;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-body .selected a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-body .selected a i {
  font-size: 10px;
  color: #62646a;
}

.footer__bottom .bottom__all .right .right__options .modal-content .modal-body .selected a p span {
  margin-left: 15px;
}

.footer__bottom .bottom__all .right .right__options .btn-access {
  padding: 0;
  font-size: 22px;
}
/*# sourceMappingURL=app.css.map */