$primary-main: #1dbf73;
$primary-light:#3fca89;
$primary-dark: #19a463;
$blue-main: #02c2a9;
$white: #fff;
$black: #000;
$gray: #7a7d85;
$gray-light: #b5b6ba;
$gray-hover: #efeff0;
$gray-bg:#f7f7f7;
$font-roboto: "Roboto", sans-serif;
$font-display: "Playfair Display", serif;

$green-color: #1dbf73;
$black-color: #404145;
$grey-color: #7a7d84;
$border-color: #e4e5e7;
$font-roboto: "Roboto", sans-serif;
$font-display: "Playfair Display", serif;

