.footer {
  overflow: hidden;
  &__top {
    padding: 50px 15px;
    text-align: center;
    @include Responsive(XL) {
      padding: 20px 15px;
    }
    h3 {
      font: 400 17px/24px "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #62646a;
      @include Responsive(SM) {
        font-size: 15px;
      }
    }
    a {
      padding: 10px 37px;
    }
  }
  &__bottom {
    padding: 25px 32px;
    border-top: 1px solid $border-color;
    @include Responsive(XL) {
      padding-top: 0;
      padding-bottom: 16px;
    }
    .bottom__all {
      padding-top: 0;
      padding-bottom: 16px;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      @include Responsive(SMP) {
        justify-content: center;
      }
        .left {
          padding-top: 16px;
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          @include Responsive(SMP) {
            flex-direction: column;
            align-items: center;
          }
          p {
            display: flex;
            font-size: 14px;
            line-height: 21px;
            word-spacing: 1px;
            flex-direction: row;
            @include Responsive(SMP) {
              flex-direction: column;
              justify-content: center;
            }
            .term {
              margin-top: 0;
              margin-left: 24px;
              color: #83868d;
              @include Responsive(SM) {
                margin-top: 12px;
              }
              a {
                color: #7a7d85;
                white-space: nowrap;
                &:hover {
                  text-decoration: underline;
                  transition: color .2s;
                }
              }
            }
            .copyright {
              white-space: nowrap;
              margin-left: 24px;
              color: #b5b6ba;
              @include Responsive(SM) {
                margin-top: 12px;
              }
            }
          }
        }
        .right {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          font-size: 16px;
          line-height: 24px;
          width: auto;
          flex-direction: row;
          padding-top: 16px;
          align-items: center;
          @include Responsive(SMP) {
            flex-direction: column;
            align-items: center;
          }
          ul {
            display: flex;
            justify-content: flex-start;
            padding-right: 22px;
            @include Responsive(SMP) {
              padding-right: 0px;
              padding-left: 22px;
            }
            li {
              margin-right: 24px;
              a {
                &:hover {
                  padding: 8px;
                  margin: -8px;
                  background-color: #efeff0;
                  border-radius: 50%;
                }
                i {
                  width: 20px;
                  height: 20px;
                  font-size: 20px;
                  line-height: 24px;
                  word-spacing: 1px;
                  color: #7a7d85;
                  padding: 2px;
                }
              }
            }
          }
          .right__options {
            display: flex;
            font-size: 16px;
            line-height: 24px;
            justify-content: center;
            align-items: center;
            @include Responsive(SM) {
              margin-top: 5px;
            }
            .option-money {
              .modal {
                .modal-dialog {
                  .modal-content {
                    .modal-body {
                      max-height: 600px;
                      overflow-x: hidden;
                      overflow-y: scroll;
                    }
                  }
                }
              }
            }
            button {
              font-size: 14px;
              line-height: 21px;
              word-spacing: 1px;
              border: none;
              background-color: transparent;
              display: flex;
              align-items: center;
              color: #83868d;
              font-weight: 500;
              padding: 8px 12px;
              @include Responsive(SMP) {
                margin-right: 0;
              }
              &:focus {
                outline: none;
              }
              &:hover {
                color: #404145;
                background-color: #f5f5f5;
                border-radius: 54px;
              }
              &:hover span {
                color: #404145;
              }
              span {
                color: #83868d;
              }
            }
            .btn-languages {
              i {
                padding-right: 7px;
              }
            }
            .modal-content {
              .modal-header {
                padding: 32px 32px 24px;
                border-bottom: none;
                h5 {
                  font-weight: 600;
                  color: #404145;
                  font-size: 20px;
                  line-height: 22px;
                }
                button {
                  font-size: 20px;
                }
              }
              .modal-body {
                .options--languages, .options--money {
                  padding: 12px 25px;
                  display: flex;
                  &:hover {
                    background: $gray-bg;
                  }
                  span {
                    margin-left: 22px;
                    font-size: 16px;
                    color: #62646a;
                  }
                }
                .options--money {
                  .title__title {
                    font-weight: 700;
                    color: #404145;
                  }
                }
                .selected a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  i {
                    font-size: 10px;
                    color: #62646a;
                  }
                  p {
                    span {
                      margin-left: 15px;
                    }
                  }
                }
              }
            }
            .btn-access {
              padding: 0;
              font-size: 22px;
            }
          }
        }
    }
  }
}