.qanda {
  background-color: $gray-bg;
  margin: 0 auto;
  &__all {
    padding: 40px 100px;
    .qanda__header {
      h2 {
        padding-bottom: 30px;
        color: #222325;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
      }
    }
    .qanda__items {
      margin-right: 0px;
      margin-left: 0px;
      .qanda__item {
        width: 49%;
        margin-right: 1%;
        cursor: pointer;
        background-color: $white;
        border-left: 5px transparent solid;
        transition: border-color,.3s;
        border-radius: 3px;
        margin-bottom: 15px;
        @include Responsive(XL) {
          width: 100%;
        }
        &:hover {
          border-color: $primary-main;
        }
        h6 {
          padding: 20px 15px;
          cursor: pointer;
          color: #0e0e0f;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 14px;
          line-height: 20px;font-weight: 600;
        }
        ul {
          height: 0;
          overflow: hidden;
          li {
            margin-bottom: 20px;
            padding: 0px 20px 0px 15px;
            font-size: 14px;
            max-height: inherit;
            line-height: 20px;
            word-spacing: 1px;
          }
        }
      }
      .qanda__item.arrow {
        position: relative;
        &::after {
          content: "\f078";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          right: 4%;
          top: 27px;
          transform: translateX(-50%);
          transition: 0.2s linear;
        }
      }
      .qanda__item.arrow.open {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
}