.works {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $gray-bg;
  padding-left: 80px;
  padding-right: 80px;
  .work__all {
    h2 {
      color: #222325;
      padding-bottom: 30px;
      text-align: center;
      font-size: 32px;
      font-weight: 600;
    }
    .work__content {
      text-align: center;
      h3 {
        color: #555;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        font: 400 16px/24px "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #62646a;
      }
      .work__item {
        padding-top: 20px;
      }
      .create-gig {
        &::before {
          background: transparent url(../../images/selling/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg) no-repeat 0 0;
          content: "";
          background-position: -200px 0;
          display: block;
          width: 50px;
          height: 50px;
          background-size: 350px;
          margin: 0 auto 15px;
        }
      }
      .deliver {
        &::before {
          background: transparent url(../../images/selling/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg) no-repeat 0 0;
          content: "";
          background-position: -294px 0;
          display: block;
          width: 64px;
          height: 50px;
          background-size: 419px;
          margin: 0 auto 15px;
        }
      }
      .get-paid {
        &::before {
          background: transparent url(../../images/selling/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg) no-repeat 0 0;
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background-size: 350px;
          margin: 0 auto 15px;
        }
      }
    }
  }
}